<h3>Linked accounts</h3>
<div class="form-group">
<% if(user.provider=="github") { %>
  <a class="btn btn-light btn-md btn-block google" href="/auth/google" role="button"
  style="text-transform:none">
      <img style="margin-bottom:3px; margin-right:5px; width: 25px;" alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      Link Google
  </a>
<% } else if(user.provider=="google") { %>
  <a class="btn btn-dark btn-md btn-block github" href="/auth/github" role="button"
      style="text-transform:none; background-color: #2d2e2e;">
      <img style="margin-bottom:3px; margin-right:5px; width: 25px;" alt="Github sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/512px-Octicons-mark-github.svg.png" />
      Link GitHub
  </a>
<% } %>
</div>
