<div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 botonewsarticle mb-4">
    <div class="card card text-white bg-dark">
      <figure class="p-3 mb-0">
        <blockquote class="blockquote">
          <p><%= news.quote %></p>
        </blockquote>
        <figcaption class="blockquote-footer mb-0 text-muted">
            <%= news.author %>
        </figcaption>
      </figure>
    </div>
</div>